<!DOCTYPE html>
<html>
<head>
  <title>Tracks</title>
  <%= stylesheet_link_tag    "tracks/application", media: "all" %>
  <%= javascript_include_tag "tracks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
